.container {
    max-width: 1280px;
    margin: 0 auto;
}

body{
    line-height: 1.5;
    color: #333;
    box-sizing: border-box;
}

 *{
     max-width: 100%;
     margin:0;
     padding:0;
 }

 h1, h2, h3, h4 {
     font-size: 1.5rem;
     color: #333;
     font-weight: bold;
 }

 .bottom-line {
    
        height: 2px;
        width: 5rem;
        background: #17f1ce ;
        display: block;
        margin: 0 auto 1rem auto;
        margin-bottom: 2.2rem;
 }

 span{
     font-weight: bold;
 }

 .header{
     font-size: 2rem;
     text-align: center;
 }